/* Styles spécifiques à l'application' */
.ico-edit {
	height: 15px;
	width: auto;
	margin-right: 6px;
	}

.ico-suppress {
	height: 15px;
	width: auto;
	margin-right: 6px;
	}

.ico-ajoute-element{
	height: 15px;
	width: auto;
	margin-right: 6px;
	}
